.Toolbar {
    background-color: white;
}

.Toolbar img {
    width: auto;
    height: 1.8rem;
    margin: auto 0.4rem;
    float: left;
}

.SearchInput {
    margin: auto !important;
    /* margin-bottom: 0.6rem; */
}

.HamMenu {
    display: none;
}

.SideNavbarClosed {
    display: none;
    width: 0;
}

@media (max-width: 1340px) {
    .SearchInput {
        display: none;
    }

    .Toolbar img{
        width: auto;
        height: 1.8rem;
        margin: auto auto;
    }

    .HamMenu {
        display: inline-block;
        color: #8B8B8B;
        margin: auto 0.4rem;
    }   

    .HamMenu:hover {
        cursor: pointer;
        color: #67C5DD;
        transition: 0.4s;
    }
}