@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 0;
  padding: 0;
  font-family:'Open Sans',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F6;
  /* width */
}

body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: rgba(103, 197, 221, 0.4); 
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(4, 203, 170,0.6), rgba(103, 197, 221, 0.6)); 
  border-radius: 200rem;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(4, 203, 170,1), rgba(103, 197, 221, 1));; 
}

code {
  font-family: 'Open Sans', source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
